:root {
    --bg-color: #152028ff;
    --main-color: #ffffffe6;
    --link-color: var(--main-color);
    --font-size: 16px;
    --bg-dots-color: #ffffff05;
    --main-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: var(--font-size);
    color: var(--main-color);
    background-color: var(--bg-color);
    background-image: radial-gradient(var(--bg-dots-color) 1px, transparent 0);
    background-size: 8px 8px;
}
h1 {
    font-size: calc(var(--font-size) * 2);
}
a {
    color: var(--link-color);
}
.container {
    max-width: 425px;
    margin: 32px auto;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}
.prof_pic {
    border-radius: 50%;
    max-width: 250px;
    max-height: 100%;
}
.btn {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 56px auto;
    gap: 8px;
    border: 4px solid var(--main-color);
    border-radius: 16px;
    max-width: 90%;
    min-height: 48px;
    margin: 16px auto;
    font-size: calc(var(--font-size) * 1.25);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
}
.btn:hover {
    border-color: var(--link-color);
    color: var(--bg-color);
    background-color: var(--link-color);
}
.btn_img {
    padding-left: 8px;
    display: flex;
    align-items: center;
    margin: auto;
}
.btn_txt {
    display: flex;
    align-items: center;
    margin: auto;
}
