html, body {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: large;
    color: black;
    background-color: whitesmoke;
}

a {
    color: mediumblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, main, footer {
    margin: auto; /* Center */
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 40rem;
    display: block; /* IE11 fix */
}

header {
    margin-top: 1rem;
    text-align: left;
}

footer {
    margin-bottom: 1rem;
    text-align: right;
}

footer img {
    margin-left: .5rem;
    height: 3.5rem;
    width: auto;
}

h1 {
    border-bottom: 1.5px solid black;
}

p, ul {
    line-height: 1.5;
}