html {
    scroll-behavior: smooth;
}
.profile {
    text-align: center;
}
.profile-pic {
    border-radius: 50%;
    max-width: 250px;
}
.profile-button {
    width: 100%;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}
.profile-icon svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: currentColor;
}
.profile-text {
    font-weight: bold;
}
.footer {
    text-align: center;
}
.blog-items {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}
.blog-item {
    max-width: 30rem;
    margin-left: calc(var(--pico-spacing) / 2);
    margin-right: calc(var(--pico-spacing) / 2);
}
.blog-post img,
.blog-item img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: var(--pico-border-radius);
}
.blog-post figcaption {
    text-align: center;
}
.blog-toc details {
    margin-bottom: 0;
}
.blog-toc ul {
    margin-bottom: 0;
}
.footer-links {
    text-align: center;
}
.footer-links svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
    margin-left: calc(var(--pico-spacing) / 2);
    margin-right: calc(var(--pico-spacing) / 2);
}
/* font overrides */
:root {
    --pico-font-family: "Space Grotesk", var(--pico-font-family-sans-serif);
}
pre,
code,
kbd,
samp {
  --pico-font-family: "Space Mono", var(--pico-font-family-monospace);
}