.profile {
    text-align: center;
}
.profile-pic {
    border-radius: 50%;
    max-width: 250px;
    max-height: 100%;
}
.profile-button {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.footer {
    text-align: center;
}
.og-img {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.blog-post img {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
