<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>404 Not Found - Jeffrey David Decker</title>
</head>
<body>
    <header class="container">
        <nav>
            <ul>
                <li><strong>Jeffrey David Decker</strong></li>
            </ul>
            <ul>
                <li><a href="/">About</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
            <h1>404 Not Found</h1>
            <p><a href="{{ config.base_url | safe }}">Return to the homepage here.</a></p>
    </main>
    <footer class="container footer">
        <p><small>Made with 💪 by Jeffrey David Decker</small></p>
    </footer>
</body>
</html>
