<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark">

    {% if section.title %}
        <title>{{ section.title }} - Jeffrey David Decker</title>
        <meta property="og:title" content="{{ section.title }} - Jeffrey David Decker">
    {% elif page.title %}
        <title>{{ page.title }} - Jeffrey David Decker</title>
        <meta property="og:title" content="{{ page.title }} - Jeffrey David Decker">
    {% else %}
        <title>Jeffrey David Decker</title>
        <meta property="og:title" content="Jeffrey David Decker">
    {% endif %}

    {% if section.description %}
        <meta name="description" content="{{ section.description }}">
        <meta property="og:description" content="{{ section.description }}">
    {% elif page.description %}
        <meta name="description" content="{{ page.description }}">
        <meta property="og:description" content="{{ page.description }}">
    {% endif %}

    {% if section %}
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ section.permalink | safe }}">
    {% elif page %}
        <meta property="og:type" content="article">
        {% if page.date %}<meta property="og:article:published_time" content="{{ page.date }}">{% endif %}
        {% if page.updated %}<meta property="og:article:modified_time" content="{{ page.updated }}">{% endif %}
        <meta property="og:article:author" content="Jeffrey David Decker">
        <meta property="og:url" content="{{ page.permalink | safe }}">
    {% endif %}

    {% if section or page %}
        {% if section.extra.og_image %}
            <meta property="og:image" content="{{ section.permalink ~ section.extra.og_image | safe }}">
            {% if section.extra.og_image_alt %}<meta property="og:image:alt" content="{{ section.extra.og_image_alt }}">{% endif %}
        {% elif page.extra.og_image %}
            <meta property="og:image" content="{{ page.permalink ~ page.extra.og_image | safe }}">
            {% if page.extra.og_image_alt %}<meta property="og:image:alt" content="{{ page.extra.og_image_alt }}">{% endif %}
        {% else %}
            <meta property="og:image" content="{{ config.base_url ~ '/og.webp' | safe }}">
            <meta property="og:image:alt" content="A stylized image of code, representing Jeffrey David Decker's website">
        {% endif %}
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="/style.css?v=2025-06-29">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <header class="container">
        <nav>
            <ul>
                <li><strong><a href="/" class="secondary">Jeffrey David Decker</a></strong></li>
            </ul>
            <ul>
                <li><a href="/">About</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock content %}
    <footer class="container footer">
        <p><small>Made with 💪 by Jeffrey David Decker</small></p>
    </footer>
</body>
</html>
